.img_hd {
  width: 100px;
}
li {
  list-style-type: none;
}

ul {
  display: flex;
  align-items: center;
}

.th_back {
  width: 70px;

  border: 1px solid black;
  background-color: rgb(255, 229, 153);
}
.align_end {
  text-align: end;
}
